.custom-modal-overlay{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:rgba(0,0,0,0.5);

display:flex;
justify-content:center;
align-items:center;

z-index:999;

}


.custom-modal{

background:white;

width:600px;

max-height:85vh;

overflow-y:auto;

border-radius:12px;

padding:20px;

}


.custom-modal-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}


.custom-modal-body{

font-size:14px;

}


.btn-close{

border:none;

background:none;

font-size:22px;

cursor:pointer;

}